version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - "./frontend:/app"
      - /app/node_modules

  api:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - "./backend:/app"
      - ./data:/app/data
    environment:
      - DATABASE_PATH=/app/data/database.sqlite
